<% show_post ||= show_post = false %>
<div class="span8 well">
  <p><%= comment.body %> </p>
  <p class="quiet">Created at: <%= format_date_time(comment.created_at) %> by <%= link_to comment.creator.username, user_path(comment.creator) %>
   <%= show_post ? " In #{link_to comment.post.title, post_path(comment.post)}".html_safe : "" %>
  </p>
</div>